@use "../../foundation/variables";

.c-link-btn {
    padding: 25px;
    text-align: center;

    @include variables.media-tb {
        padding: 20px;
    }

    @include variables.media-sp {
        padding: 16px;
    }
}

.c-link-btn__buildup {
    background: variables.$color-blue;
    @include variables.font-en(2.2rem, 700, 1.4);
    color: variables.$color-white;

    .c-link-btn__buildup__jp {
        font-family: "Noto Sans JP", sans-serif;
    }
}

.c-link-btn__buildup,
.c-link-btn__buildup__jp {
    @include variables.media-tb {
        font-size: 1.8rem;
    }

    @include variables.media-sp {
        font-size: 1.6rem
    }
}

.p-skills__buildup {
    .c-link-btn__buildup:hover {
        background: #2e7b93;
        transition: .3s;
    }
}

.c-link-btn__github {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;

    img {
        width: 20px;
        height: auto;
    }
}

.c-link-btn__github,
.c-link-btn__viewmore {
    background: #555;
    @include variables.font-en(1.6em, 700, 1.4);
    color: variables.$color-white;
    width: 140px;
    padding: 15px 10px;

    @include variables.media-sp {
        font-size: 1.4rem;
        width: 125px;
        padding: 12px 7px;
    }
}

.c-link-btn__github:hover,
.c-link-btn__viewmore:hover {
    background: #999;
    transition: .3s;
}