@use "../../foundation/variables";

.p-works-page {
    .u-space {
        padding-bottom: 1.8rem;
    }
}


.p-about {
    .u-space {
        padding-bottom: 2.5rem;

        @include variables.media-tb {
            padding-bottom: 1.8rem;
        }
    }
}