@use "../../foundation/variables";

.p-logo-area {
    height: 100vh;
    display: grid;
    place-items: center;
    position: relative;

    h1 {
        @include variables.font-en(2.2rem, 700, 1.3);
        position: absolute;
        bottom: 45%;
        color: #999;

        @include variables.media-tb {
            font-size: 1.8rem;
            bottom: 40%;
        }

        @include variables.media-sp {
            font-size: 1.6rem;
            bottom: 35%;
        }
    }
}


.p-logo {
    width: 250px;
    display: block;

    @include variables.media-tb {
        width: 143px;
    }

    @include variables.media-sp {
        width: 88px;
    }
}


.js-whale {
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.js-whale2 {
    position: fixed;
    right: 1%;
    bottom: 0;
    width: 10%;
    z-index: 2;

    @include variables.media-sp {
        width: 15%;
    }
}