@use "../foundation/variables";

.l-header {
    height: 140px;
    transition: transform 0.3s ease;

    @include variables.media-tb {
        height: 50px;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        transform: translateX(100%); // ← 初期状態は右に隠す
        transition: transform 0.3s ease;

        &.is-open {
            transform: translateX(0); // ← 開くと右からスライドイン
        }

        &.is-close {
            transform: translateX(100%); // ← 閉じると右にスライドアウト
        }
    }
}

body.no-scroll {
    position: fixed;
    width: 100%;
    overflow: hidden;
}